* {
  padding: 0;
  margin: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.has-side-menu {
  padding-left: 12rem;
}
.side-menu {
  width: 12rem;
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: hidden;
  background-color: #141414;
}
.side-menu ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  list-style: none;
}
.side-menu ul li {
  width: 100%;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #141414;
}
.side-menu ul li:hover {
  background-color: #d35400;
  cursor: pointer;
}
.side-menu ul li a {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.side-menu ul li i,
.side-menu ul li span {
  padding-left: 0.5rem;
}
html {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}
body {
  background-color: #ffffff;
}
.fluid-container,
.main-container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 48rem) {
  .main-container {
    width: 48rem;
    margin: auto;
  }
}
@media screen and (min-width: 64rem) {
  .main-container {
    width: 64rem;
  }
}
@media screen and (min-width: 80rem) {
  .main-container {
    width: 80rem;
  }
}
.header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: white;
  background-color: #27ae60;
}
.message-box {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 5px 0px black;
}
@media screen and (min-width: 32rem) {
  .message-box {
    width: 24rem;
  }
}
.message-box p {
  text-align: center;
}
p {
  margin-bottom: 1.2rem;
}
a {
  text-decoration: none;
  color: black;
}
