
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// PLATONIC BUTTONS
//--------------------------------------------------------------------------

.button, .success-button, .info-button, .danger-button, .warning-button, .block-button{
	display: inline-block;
	white-space: nowrap;
	padding: 0.5rem 1rem;
	border: 0.1rem solid @silver !important;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	color: @black !important;
	text-decoration: none !important;
	background-color: @clouds !important;
	.border-radius(0.25rem);

	&:hover{
		cursor: pointer;
		background-color: @silver !important;
	}
	&:active{
		background-color: darken(@silver, 5%) !important;
	}
	&:disabled{
		cursor: not-allowed !important;
		color: @asbestos !important;
		border-color: @clouds !important;
		background-color: @clouds !important;

		&:hover{
			background-color: @clouds !important;
		}
		&:active{
			background-color: @clouds !important;
		}
	}
}

.block-button{
	display: block;
	width: 100%;
}

.success-button{
	color: white !important;
	background-color: @emerald !important;
	border-color: @nephritis !important;
	&:hover{
		background-color: @nephritis !important;
	}
	&:active{
		background-color: darken(@nephritis, 5%) !important;
	}
}
.info-button{
	color: white !important;
	background-color: @peter-river !important;
	border-color: @belize-hole !important;
	&:hover{
		background-color: @belize-hole !important;
	}
	&:active{
		background-color: darken(@belize-hole, 5%) !important;
	}
}
.danger-button{
	color: white !important;
	background-color: @alizarin !important;
	border-color: @pomegranate !important;
	&:hover{
		background-color: @pomegranate !important;
	}
	&:active{
		background-color: darken(@pomegranate, 5%) !important;
	}
}
.warning-button{
	color: white !important;
	background-color: @orange !important;
	border-color: @carrot !important;
	&:hover{
		background-color: @carrot !important;
	}
	&:active{
		background-color: darken(@carrot, 5%) !important;
	}
}

.modern-button{
	box-shadow: 0 2px fade(@black, 50%);

	&:hover{
		cursor: pointer;
		background-color: @silver !important;
		box-shadow: 0 2px fade(@black, 50%);
	}
	&:active{
		bottom: -1px;
		box-shadow: 0 1px fade(@black, 50%);
	}
}