
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// FORMS
//--------------------------------------------------------------------------

form{

	> fieldset{
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
	}
}

input[type=text], input[type=email], input[type=password], textarea{
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
	height: auto;
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 0.1rem solid @silver;
	.border-radius(0.25rem);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	box-shadow: 0 0 3px fade(@peter-river, 50%);
	border-color: @peter-river;
}

.input-group{
	width: 100%;
	border-collapse: collapse;
	.display-flex();
	.flex-flow(row, nowrap);
	.justify-content(flex-start);
	.align-items(center);
	
	> .input-extra{
		height: auto;
		padding: 0.5rem 0.7rem;
		border: 0.1rem solid @silver;

	}
	> *{
		.border-radius(0) !important;
	}
	> :first-child{
		.border-top-left-radius(0.25rem) !important;
		.border-bottom-left-radius(0.25rem) !important;
	}
	> :last-child{
		.border-top-right-radius(0.25rem) !important;
		.border-bottom-right-radius(0.25rem) !important;
	}
}

.has-error{
	border-color: @alizarin !important;
	color: @alizarin !important;
	&:focus{
		box-shadow: 0 0 3px fade(@alizarin, 50%) !important;
		border-color: @alizarin !important;
	}
}