
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// FORMS
//--------------------------------------------------------------------------

form{
	width: 100%;
	margin: 0 auto;
	> fieldset{
		width: 100%;
		max-width: 100%;
		border: none;
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
	}
}

input:not([type=radio]):not([type=checkbox]), textarea, select{
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
	height: auto;
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 0.1rem solid @silver;
	.border-radius(0.25rem);
	background-color: @white;

	&:focus{
		box-shadow: 0 0 3px fade(@peter-river, 50%);
		border-color: @peter-river;
	}

	&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active{
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}

select{
	padding: 0 1rem !important;
}

option{
	height: auto;
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 1rem;
}

.input-group{
	width: 100%;
	.display-flex();
	.flex-flow(row, nowrap);
	.justify-content(flex-start);
	.align-items(center);
	border: 0.1rem solid @silver;
	.border-radius(0.25rem) !important;
	
	> .input-extra{
		height: auto;
		padding: 0.5rem 0.7rem;
	}
	> input:not([type=radio]):not([type=checkbox]), > textarea{
		border: 0;

		&:focus{
			box-shadow: none;
		}
	}
}

.has-error{
	border-color: @alizarin !important;
	color: @alizarin !important;
	&:focus{
		box-shadow: 0 0 3px fade(@alizarin, 50%) !important;
		border-color: @alizarin !important;
	}
}