
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// PANELS
//--------------------------------------------------------------------------

.panel{
	width: 100%;
	height: auto;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.panel-content{
	padding: 1rem 2rem;
}