
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// PLATONIC COMPONENTS
//--------------------------------------------------------------------------

@import "reset";
@import "typography";
@import "responsive";
@import "containers";
@import "separators";
@import "images";
@import "colors";
@import "grids";
@import "forms";
@import "tables";
@import "headers";
@import "panels";
@import "tabs";
@import "popup";
@import "buttons";
@import "lists";
@import "sidemenu";
@import "helpers";
@import "progress";

body:before{
	content: "mobile";
	position: fixed;
	font-size: 2rem;
	right: 0;
	bottom: 0;
	@media @phablet{
		content: "phablet";
	}
	@media @tablet{
		content: "tablet";
	}
	@media @laptop{
		content: "laptop";
	}
	@media @desktop{
		content: "desktop";
	}
}