
@import "variables.less";
@import "mixins.less";

//--------------------------------------------------------------------------
// PLATONIC SIDE MENU
//--------------------------------------------------------------------------

.has-side-menu{
	padding-left: @side_menu_size;
}

.side-menu{

	width: @side_menu_size;
	max-width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	overflow-y: hidden;
	background-color: @black;

	ul{
		width: 100%;
		height: 100%;
		overflow-y: auto;
		list-style: none;

		li{
			width: 100%;
			min-height: 2.5rem;
			display: flex;
			align-items: center;
			vertical-align: middle;
			color: @white;
			background-color: @black;

			&:hover{
				background-color: @pumpkin;
				cursor: pointer;
			}

			a{
				width: 100%;
				height: 100%;
				color: @white;
			}
			i, span{
				padding-left: 0.5rem;
			}
		}

	}
	

}