
@import "variables";
@import "mixins";

//--------------------------------------------------------------------------
// PLATONIC TABLES
//--------------------------------------------------------------------------

.table, .bordered-table, .striped-table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	> thead > tr > th{
		border-bottom: 2px solid @silver;
		text-align: left;
		font-weight: bold;
		padding: 0.5rem;
	}
	> tbody > tr > td{
		border-top: 1px solid @silver;
		padding: 0.5rem;
	}

	@media @tablet{
		
	}
}

.bordered-table{
	> thead > tr > th,
	> tbody > tr > td{
		border: 1px solid @silver;
	}
}

.striped-table{
	> tbody > tr:nth-of-type(even){
		background-color: @clouds;
	}
}